<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
        class="table-responsive"
    >
        <table
            class="table table-primary"
        >
        <h3>Student Information</h3>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name </th>
                    <th scope="col">Roll </th>
                </tr>
            </thead>
            {% for student in students  %}
            <tbody>
                <tr class="">
                    <td scope="row">{{student.id}}</td>
                    <td scope="row">{{student.name}}</td>
                    <td scope="row">{{student.roll}}</td>

                </tr>
                
            </tbody>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>