{% extends 'core/base.html' %} 
{% block content %} 
{% load static %}

<div class="mt-5">
  <div class="text-center" >
    <img
      src="{% static 'core/images/p1.jpg' %}"
      alt="ProfilePic"
      class="img-thumbnail"
      width="250px"
      height="150px"
    />
  </div>
  <div class="text-white mt-5  mx-5 text-justify">
    <h1 class="font-weight-bold font-family">Hello,</h1>
    <div class="px-4" style="line-height: 2rem; text-align: justify;" >
      <p style="text-indent: 100px">
        I am <b class="text-warning">Kunal Kumar </b> Having 2 year of Full-stack
        devlopment experience for global businesses,I offer the technical
        expertise you are seeking for your web devloment Position.
      </p>
      <p>
        Since earning my bachelor's degree in internet and web developmwnt from
        RTU University, I have server as a web development at
        <b class="text-warning"> stemrobo technologies pvt. ltd.</b>. in this
        position, I have led web development projects for clients in diverse
        industries including technology, manufacturing, pharmaceutical,
        hospitality, retail and financial Services.
      </p>
    </div>
  </div>

  <div class="text-center" >
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5" >Hire Me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3" >Contact</a>

  </div>
 


</div>

{% endblock content %}